@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.faqLink {
  text-decoration: underline;
  text-underline-offset: 5px;
}

:is(.dark .faqLink:hover) {
  color: #0000ee;
}
